{% extends 'base.html' %}
{% block title %}
        Home
    {% endblock title %}
{% block body %}
    

    <div class="container my-3">
        <h2>Add a ToDo</h2>
        <form action="/update/{{todo.sno}}" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">ToDo Title</label>
                <input type="text" class="form-control" name="title" id="title" value="{{todo.title}}" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Enter your ToDO title here.</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">ToDo Description</label>
                <input type="text" class="form-control" name="description" id="description" value="{{todo.description}}" required>
            </div>
            
            <button type="submit" class="btn btn-outline-primary">Update</button>
        </form>
    </div>

    
    

{% endblock body  %}
